*.DS_Store
*.idea
node_modules/
npm-debug.log
log/*
mytest/
config/local.js
typings/
public/src/js/app.js.map
public/src/js/app.js
public/js
public/css
public/images
public/index.html
public/node_modules
public/build
public/cache/*.gzip
public/lib/bootstrap-datepicker.min.js
public/lib/chinese_py.min.js
public/lib/plugins.min.js
views/index.hbs
logo.png
public/images/qrcode.png
.vscode
