html {
  height: 100%;
}
body {
  position: relative;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
#container{
  width: 868px;
  height: 600px;
}
#dataArray{
  height: 80px;
  resize: none;
}
#BMapLib_sc_b0{
  cursor: pointer;
}
#searchBox{
  position: fixed;
  z-index: 99999;
  left: 0;
  right: 0;
  bottom: 0;
}
.container{
  z-index: 999;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
#stationList{
  position: absolute;
  width: 100%;
  height: 200px;
  overflow: hidden;
}
#stationList li{
  position: relative;
  z-index: 200;
  display: none;
  cursor: pointer;
}
#tableStation{
  background-color: #eee;
}
#tableStation thead th,
#tableStation td{text-align: center;}