.h100
  height: 100%
.no-text-deco
  text-decoration: none
.theme-color
  color: $theme-color
.menu-list-active
  // color: $theme-color
  background-color: $theme-light-color
.submenu-list-active
  // color: $theme-color
  background-color: $theme-dark-color
  @extend .no-text-deco

.text-overflow
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
.inline-block
  display: inline-block