
/**************************/
/********* 实体类 **********/
/**************************/
body
  background: #fff
  font-family: 'sans-serif'
  overflow: hidden
  perspective: 1000
  &.login_hide
    overflow: auto
html,body,body>section
  @extend .h100

#app-container
  @extend .h100
  overflow: auto
// #app-container
//   transition: transform .8s
//   opacity: 0
// .login-hide
//   #app-container
//     opacity: 1

.right-side
  @extend .h100
  margin-left: $left-side-w
  background: $theme-bg-color
  min-height: 1000px
  .main-content
    padding: 12px
.login-hide
  .right-side
    display: block
a
  @extend .no-text-deco
  &:hover
    @extend .no-text-deco
    color: $theme-color

/**************************/
/********* 修饰类 **********/
/**************************/
.inline-block
  display: inline-block !important

.space
  margin-left: 6px
  margin-right: 6px
.round
  @include border-radius(5px)
.bordered
  display: inline-block
  border: 1px solid $theme-color
.strong
  font-weight: bold
  color: $theme-font-color
.text-left
  text-align: left !important
.nowrap
  white-space: nowrap

/**************************/
/********* 组件类 **********/
/**************************/
.line-router
  font-size: 14px
  font-weight: bold
  padding-bottom: 9px
  .node
    display: inline-block
    cursor: pointer
    border-bottom: 1px solid transparent
    &:hover
      border-color: $theme-black
  .active
    border-bottom: none
    color: $theme-font-color
    cursor: default

.search-input
  position: relative
  &.form-inline
    display: inline-block
  input
    padding-right: 20px
    &:focus
      + i
        color: #666
    &.input-sm
      + i
        top: 8px
  .fa
    color: #cfcfce
    position: absolute
    right: 5px
    top: 9px
    cursor: pointer

.form-inline
  .form-control.input-date
    width: 95px
  .form-select.form-control
    min-width: 146px

.btn
  &.btn-theme
    color: #fff
    background-color: $btn-color
    border-color: $btn-color
  &.btn-theme:hover, &.btn-theme:focus, &.btn-theme:active.focus, &.btn-theme.active:hover, &.btn-theme.active:focus, &.btn-theme.active.focus, .open > &.btn-theme.dropdown-toggle:hover, .open > &.btn-theme.dropdown-toggle:focus, .open > &.btn-theme.dropdown-toggle.focus
    color: #fff
    background-color: darken($btn-color, 5)
    border-color: darken($btn-color, 8)

