
/**************************/
/********* 实体类 **********/
/**************************/
body
  background: #fff
  // font-family: 'sans-serif'
  font-family: "open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  color: #676a6c;
  overflow: hidden
  perspective: 1000
  &.login_hide
    overflow: auto
html,body,body>section
  @extend .h100

#app-container
  @extend .h100
  overflow: auto
// #app-container
//   transition: transform .8s
//   opacity: 0
// .login-hide
//   #app-container
//     opacity: 1

.right-side
  @extend .h100
  margin-left: $left-side-w
  background: $theme-bg-color
  min-height: 1000px
  .main-content
    padding: 12px
.login-hide
  .right-side
    display: block
a
  @extend .no-text-deco
  &:hover
    @extend .no-text-deco
    color: $theme-font-color
  &:focus
    @extend .no-text-deco
    outline: none

/**************************/
/********* 修饰类 **********/
/**************************/
.inline-block
  display: inline-block !important
.mg-15
  margin-bottom: 15px

.space
  margin-left: 6px
  margin-right: 6px
.space-right
  margin-right: 6px
.space-left
  margin-left: 6px
.pl-20
  padding-left: 20px
.round
  @include border-radius(5px)
.bordered
  display: inline-block
  border: 1px solid $theme-color
.strong
  font-weight: bold
  color: $theme-font-color
.text-left
  text-align: left !important
.nowrap
  white-space: nowrap
.gray
  color: #9C9A9A !important
.font-sm
  font-size: 12px !important
.font-lg
  font-size: 15px !important

/**************************/
/********* 组件类 **********/
/**************************/
.line-router
  font-size: 14px
  font-weight: bold
  padding-bottom: 9px
  .node
    display: inline-block
    cursor: pointer
    border-bottom: 1px solid transparent
    &:hover
      border-color: $theme-black
  .active
    border-bottom: none
    color: $theme-font-color
    cursor: default
.form-control.short-input
  width: 85px
.form-control.long-input
  width: 200px

.search-input
  position: relative
  &.form-inline
    display: inline-block
  input
    padding-right: 20px
    &:focus
      + i
        color: #666
    &.input-sm
      + i
        top: 8px
  .fa
    color: #cfcfce
    position: absolute
    right: 5px
    top: 9px
    cursor: pointer
hr.dotted
  border: none
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2)
.form-inline
  .form-control.input-date
    width: 95px
  .form-select.form-control
    min-width: 146px

.error,.error:focus, .error:active, .error:hover
  border-color: #FF6C60 !important
.btn
  &.btn-theme
    color: #fff
    background-color: $btn-color
    border-color: $btn-color
  &.btn-theme:hover, &.btn-theme:focus, &.btn-theme.active:focus, &.btn-theme.active:hover, &.btn-theme.active.focus, .open > &.btn-theme.dropdown-toggle:hover, .open > &.btn-theme.dropdown-toggle:focus, .open > &.btn-theme.dropdown-toggle.focus
    background-color: darken($btn-color, 8)
    border-color: darken($btn-color, 12)
  &.btn-theme:active
    background-color: darken($btn-color, 15)
    border-color: darken($btn-color, 20)
  &.btn-theme[disabled]:hover
    background-color: $btn-color
  &[data-submitting=true], &[data-submitting=true]:hover, &[data-submitting=true]:active, &[data-submitting=true]:focus
    color: transparent
  &[data-submitting=true]
    position: relative
    &:after
      font-size: 12px
      position: absolute
      top: 50%
      left: 50%
      margin-left: -5px
      margin-top: -9px
      color: #fff
      content: '\f01e'

      font-family: FontAwesome
      animation: fa-spin 2s infinite linear;  //依赖font-awesome

.number-picker
  @extend .tc
  a
    @extend .inline-block
    padding: 6px
    cursor: pointer
  input
    @extend .tc
    width: 40px !important
    padding-right: 3px
    padding-left: 3px

.table tbody tr.clickable
  cursor: pointer
  user-select: none

.time-input
  @extend .tc
  width: 30px !important
  padding-left: 2px
  padding-right: 2px

