.sticky-header{
  .right-side {
    position: relative;
    height: 100%;
    .main-content {
      padding-top: 61px;
      height: 100%;
    }
  }
}
.login-show, .login-show .right-side {
    overflow: hidden !important;
}

@media screen and ( max-height: 880px ) {
  .table-responsive.main-list{ max-height: 419px; }
}
@media screen and ( max-height: 808px ) {
  .table-responsive.main-list{ max-height: 329px; }
}