.sticky-header{
  .right-side {
    position: relative;
    min-height: 100%;
    .main-content {
      padding-top: 61px;
      // min-height: 100%;
    }
  }
}
.login-show, .login-show .right-side {
    overflow: hidden !important;
}

@media screen and ( max-height: 1000px ) {
  .table-responsive.main-list{ max-height: 434px; }
}
@media screen and ( max-height: 880px ) {
  .table-responsive.main-list{ max-height: 419px; }
}
@media screen and ( max-height: 808px ) {
  .table-responsive.main-list{ max-height: 329px; } //主列表
  .table-responsive.modal-list{ max-height: 292px; } //弹窗列表
}

//配送站管理
.station-manage{
  .station-map{
    position: relative;
    .map-container{
      height: 600px
    }
  }
  .station-map.full-screen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    .map-container{
      height: 100%
    }
    .full-screen-btn{
      background: #fff url(/images/min.jpg) center center no-repeat;
      background-size: 80% 80%;
    }
  }
  .map-toolbar{
    position: absolute;
    display: flex;
    top: 10px;
    left: 5px;
    z-index: 10;
  }

  .full-screen-btn{
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 3px;
    border: 1px solid #C5C5C5;
    background: #fff url(/images/max.jpg) center center no-repeat;
    background-size: 80% 80%;
  }
}