.login-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: url("/images/login-bg.jpg") no-repeat fixed;
  // background: #38B18C;
  // background: $theme-bg-color;
  background-size: cover;
  transition: all 1s;
  // transform: rotateY(180deg);
  // backface-visibility: hidden;
}
.login-hide .login-container{
  // transform: translate3d(140%,50px,-600px);
  transform: translate3d(0,-100%,0);
}
.login-body {
  width: 100%;
  height: 100%;
}

.form-signin {
  max-width: 300px;
  margin: 142px auto;
  background: $theme-bg-color;
  border-radius: 5px;
  .form-signin-heading {
    margin: 0;
    padding: 42px 15px 10px;
    text-align: center;
    color: #fff;
    position: relative;
    img {
      width: 175px;
    }
  }
  ::-webkit-input-placeholder {
    color: #CACACA;
  }
}

.sign-title {
  font-size: 24px;
  color: #fff;
  position: absolute;
  top: -60px;
  left: 0;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
}

.form-signin {
  .checkbox {
    margin-bottom: 14px;
    font-size: 13px;
    font-weight: normal;
    color: #fff;
    font-weight: normal;
    // font-family: 'Open Sans', sans-serif;
    position: absolute;
    bottom: -50px;
    width: 100%;
    left: 0;

    a, a:hover {
      color: #fff;
    }
    input[type=checkbox] {
      position: relative;
      margin-left: 0;
    }
  }
  .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    border-radius: none !important;
    box-sizing: border-box;
    transition: transform .4s;

    &:focus {
      z-index: 2;
    }

    &.tip {
      transform: translate3d(0, -5px, 0);
    }
  }
  .error-msg {
    font-size: 11px;
    color: #97A29D;
  }
  input[type="text"], input[type="password"] {
    margin-bottom: 15px;
    border: 1px solid $login-color;
    // background: $login-color;
    box-shadow: none;
    font-size: 12px;
    border-radius: 0;
    // color: rgba(255, 255, 255, 0.68);
  }
  .btn-login {
    background: transparent;
    color: $login-color;
    text-transform: uppercase;
    font-weight: normal;
    // font-family: 'Open Sans', sans-serif;
    margin: 30px auto 5px;
    width: 160px;
    padding: 3px;
    transition: all 0.3s;
    font-size: 19px;
    line-height: 28px;
    border: 2px solid $login-color;

    &:hover {
      background: $login-color;
      color: #fff;
      transition: all 0.3s;
    }
    &:active {
      color: #fff;
      background: lighten($login-color, 6);
      border: 2px solid lighten($login-color, 6);
    }
    &[disabled] {
      color: #fff;
      background: lighten($login-color, 20);
      border: 2px solid lighten($login-color, 20);
      cursor: default;
    }
  }
  p {
    text-align: left;
    color: #b6b6b6;
    font-size: 16px;
    font-weight: normal;
  }
  a, a:hover {
    color: $theme-font-color;
  }
  a:hover {
    text-decoration: underline;
  }
}

.login-wrap {
  padding: 20px 27px;
  position: relative;
}

.registration {
  color: #c7c7c7;
  text-align: center;
  margin-top: 15px;
}
