.order-manage {
  .top-header {
    
  }
  // .search {
  //   margin-top: 12px;
  //   .panel-body {
  //     padding: 12px 10px;
  //   }
  // }

  .time {
    min-width: 82px;
  }
  .address-detail-td {
    min-width: 170px;
  }

  .address-all {
    @extend .inline-block;
    min-width: 120px;
    white-space: noraml;
  }
  .order-status {
    width: 58px;
    position: relative;
  }

  .remark-in-table {
    max-width: 126px;
    min-width: 112px;
    text-align: left;
  }
  .bordered {
    @include border-radius(3px);
    @extend .inline-block;
    padding: 2px 3px;
  }
}