@import "bootstrap/_bootstrap.scss"
@import "bootstrap_reset.scss"
@import "variables"
@import "mixins"
@import "extend"
@import "base"

html,body,body>section
  @extend .h100

.main-content
  @extend .h100
  margin-left: 240px
  background: #eff0f4
  min-height: 1000px
.login-hide
  .main-content
    display: block

@import "nav"
@import "login.scss"
@import "header.scss"
@import "content.scss"
